#!/usr/bin/env bash
if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi
# Environment variables for the project. See https://direnv.net/
if nix flake metadata &>/dev/null; then
  use flake
else
  use nix
fi