[package]
name = "prjfmt"
version = "0.1.0"
authors = ["Andika Demas Riyandi <andika.riyan@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
chrono = "0.4"
console = "0.13"
dialoguer = "0.7"
env_logger = { version = "0.8", default-features = false }
filetime = "0.2"
glob = "0.3"
hex = "0.4"
human-panic = "1.0"
log = "0.4"
parking_lot = "0.11"
rayon = "1.5.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha-1 = "0.9.2"
structopt = "0.3"
toml = "0.5"
walkdir = "2.3"
which = "4.0"
xshell = "0.1"
