[package]
name = "allfmt"
version = "0.1.0"
authors = ["Andika Demas Riyandi <andika.riyan@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
chrono = "0.4"
console = "0.13"
curl = "0.4"
dialoguer = "0.7"
env_logger = { version = "0.8", default-features = false }
glob = "0.3"
human-panic = "1.0"
log = "0.4"
parking_lot = "0.11"
structopt = "0.3"
toml = "0.5"
walkdir = "2.3"
which = "4.0"
