name: Nix
on:
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v23
      - uses: cachix/cachix-action@v12
        with:
          name: numtide
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix develop --command ./ci.sh
