name: goreleaser

on:
    push:
        # run only against tags
        tags:
            - "v*"

permissions:
    contents: write

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - name: Setup Go
              uses: actions/setup-go@v6
              with:
                  go-version: 1.25.x
            - name: Run goreleaser
              uses: goreleaser/goreleaser-action@v6
              with:
                  args: release --clean
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
